# Data Science Tools and  Ecosystem

### In This Notebook We are Goona Discuss Some Data Science Languages and Tools Althought it is part of assignment Of IBM Data Science Course Which Am Goona Submitted With Given Tasks.

## Objectives :-

*   In This Notebook , We Are Gonna Learn Some Data Science Languages
*   In This Notebook , We Are Gonna Learn Some Data Science Libraries
*   In This Notebook , We Are Gonna Learn Some Data Science Tools
*   Introducing Arthimetic Expression
*   We Illustrate Some Codes in Python

## Data Science Languages Are

1.   Python
2.   R
3.   SQL
4.   Scala

## Data Science Libraries Are

1.   Pandas
2.   Numpy
3.   Sci-kit
4.   ggPlot
5.   Matplotlib
6.   Seaborn

## Data Science Tools Are

---



*   Jupyter Notebook
*   RStudio
*   SQL Server
*   Apache Spark

### Arthimetic Expression :-

*   Multiplication(*)
*   Division(/)
*   Addition(+)
*   Subtraction(-)
*   Greater Then(<)
*   Less Then(>)
*   Equal To(=)

In [1]:
print((3*5)+5)

20

In [5]:
minutes = 200
hours = minutes/60
print(round(hours,2))

3.33

## Author
### Vinay Ghosh